.fondo{
    width:100;
    height:100;
    background-image: linear-gradient(to right bottom, #279dcf, #00aed3, #00bec2, #00ca9f, #31d26f);
    background-attachment: fixed;
}

/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif; /* Fuente para el texto */
    background-color: #f0f0f0; /* Color de fondo */
  }
  
  /* Estilos para el contenedor de la forma */
  .box1 {
    width: 300px; /* Ancho del contenedor */
    margin: 100px auto; /* Margen superior e inferior, y centrado horizontalmente */
    padding: 40px; /* Espacio entre el borde y el contenido */
    background-color: #fff; /* Color de fondo del contenedor */
    border: 1px solid #ddd; /* Borde del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra del contenedor */
  }
  
  /* Estilos para las etiquetas y campos de texto */
  label {
    display: block; /* Mostrar las etiquetas como bloques */
    margin-bottom: 10px; /* Espacio entre las etiquetas y los campos de texto */
    font-weight: bold; /* Poner las etiquetas en negrita */
  }
  
  input[type="text"] {
    width: 100%; /* Ancho de los campos de texto */
    padding: 4px; /* Espacio entre el borde y el texto */
    margin-bottom: 8px; /* Espacio entre los campos de texto */
    border: 1px solid #ccc; /* Borde de los campos de texto */
  }
  
  /* Estilos para el botón de envío */
  input[type="submit"] {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 10px; /* Espacio entre el borde y el texto del botón */
    border: none; /* No mostrar borde del botón */
    border-radius: 5px; /* Redondear esquinas del botón */
    cursor: pointer; /* Cambiar el cursor a una mano cuando se pasa por encima del botón */
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41; /* Color de fondo del botón cuando se pasa por encima */
  }
  .resultado {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
  }
